<% if resource.errors.any? %>
  <div class="notification is-danger">
    <b>Errors: </b>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
