<h1 class="title">Manage Hackathons</h1>
<div class="columns is-multiline">
    <% @hackathons.each do |hackathon| %>
      <div class="column is-one-third">
        <div class="box">
          <h1 class="title"><%= hackathon.name %></h1>
          <h2 class="subtitle"><%= hackathon.description %></h2>
          <%= link_to "View", admin_hackathon_path(hackathon), class: 'button is-primary' %>
          <button class="button is-primary">
            Edit
          </button>
        </div>
      </div>
    <% end %>
</div>

<%= paginate @hackathons %>